html {
    margin: 0px;
    padding: 0px;
    background: #aaa;
}

body {
    font-family: 'Work Sans', sans-serif;
    border: 1px solid black;
    margin: 60px;
    box-shadow: 0px 0px 35px #222;
    font-size: 2em;
}

main {
    height: 97vh;
    background: url('images/main.jpeg') no-repeat center center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.main {
    width: 50%;
    margin: 0 auto;
    color: orange;
    -webkit-text-stroke: 1px black;
}

.main p {
    font-family: 'Montserrat', sans-serif;
}

.anchors {
    display: flex;
    justify-content: space-around;
}

.anchors {
    justify-content: center;
    flex-wrap: wrap;
}

.anchors a {
    margin: 0 15px;
    padding: 0 15px;
    background-color: orange;
    border: 4px solid black;
    border-radius: 35px;
    color: black;
    text-decoration: none;
}
